<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tkl.mapper.UserMapper">
	<select id="selectById" resultType="User">
		select * from pf_user where
		id = #{id}
	</select>

	<insert id="add" parameterType="User">
		insert into pf_user
		values(#{id},#{name},#{age},#{sex},#{userName},#{passWord});
	</insert>

	<update id="update" parameterType="User">
		update pf_user set
		name =
		#{name},
		userName = #{userName}
		where id = #{id}
	</update>

	<delete id="delete">
		delete from pf_user where id = #{id}
	</delete>
</mapper>